<!-- GRAFICO -->
<ion-card>
  <app-chart-bar
    [chartLabel]="['Ano']"
    [chartData]="[
      { data: [modelYear.month1], label: 'J' },
      { data: [modelYear.month2], label: 'F' },
      { data: [modelYear.month3], label: 'M' },
      { data: [modelYear.month4], label: 'A' },
      { data: [modelYear.month5], label: 'M' },
      { data: [modelYear.month6], label: 'J' },
      { data: [modelYear.month7], label: 'J' },
      { data: [modelYear.month8], label: 'A' },
      { data: [modelYear.month9], label: 'S' },
      { data: [modelYear.month10], label: 'O' },
      { data: [modelYear.month11], label: 'N' },
      { data: [modelYear.month12], label: 'D' }
    ]"
  >
  </app-chart-bar>
</ion-card>
