<ion-content class="image-content">
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button color="light" size="small" routerLink="/auth" routerDirection="back">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid no-padding>
    <ion-row>
      <ion-col size="12" size-sm="6" offset-sm="3" size-md="6" offset-md="3">
        <h3 text-center>Ionic <b>Starter</b></h3>
        <ion-card no-padding>
          <ion-item lines="full" color="light" text-center>
            <ion-label text-wrap>
              <h2>Recuperar sua senha</h2>
              <p>
                Digite seu endereço de e-mail e nós lhe enviaremos um e-mail para redefinir sua
                senha
              </p>
            </ion-label>
          </ion-item>
          <form [formGroup]="form" (ngSubmit)="save()">
            <ion-item>
              <ion-icon name="mail" slot="start"></ion-icon>
              <ion-input
                inputmode="email"
                type="email"
                sutofocus="true"
                placeholder="E-mail"
                formControlName="email"
              ></ion-input>
              <ion-note color="danger" slot="end" *ngIf="email.dirty && email.getError('required')">
                Obrigatório
              </ion-note>
            </ion-item>
            <ion-item color="danger" slot="end" *ngIf="email.dirty && email.getError('email')">
              Não é um E-mail válido
            </ion-item>
            <ion-button size="small" expand="block" type="submit" [disabled]="!form.valid">
              Recuperar
            </ion-button>
          </form>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
