<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/method"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }} Método</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col size="12" size-sm="6" offset-sm="3" size-md="6" offset-md="3">
        <ion-card no-padding>
          <form [formGroup]="form" (ngSubmit)="save()">
            <ion-item>
              <ion-input
                type="text"
                autofocus="true"
                placeholder="Nome"
                formControlName="name"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Tipo</ion-label>
              <ion-select
                (ionChange)="renderCategory($event)"
                placeholder="Selecione o Tipo"
                formControlName="type"
              >
                <ion-select-option value="receive">
                  Arrecadação
                </ion-select-option>
                <ion-select-option value="pay">
                  Pagamento
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-button size="small" expand="block" type="submit" [disabled]="!form.valid">
              Salvar
            </ion-button>
          </form>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="6" offset-sm="3" size-md="6" offset-md="3">
        <ion-card no-padding *ngIf="categoryTitle !== ''">
          <ion-card-header text-center>
            <ion-card-title>{{ categoryTitle }}</ion-card-title>
            <ion-card-subtitle>Exemplos de Categorias</ion-card-subtitle>
          </ion-card-header>
          <ion-item lines="none">
            <ion-label text-center text-wrap>
              <p [ngStyle]="{ color: form.value.type === 'pay' ? 'red' : 'green' }">
                {{ categoryDescription }}
              </p>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
