<ion-header>
  <ion-toolbar>
    <ion-title>Calendário</ion-title>
  </ion-toolbar>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <calendar
    class="calendar"
    [eventSource]="eventSource"
    [locale]="calendar.locale"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    [monthviewEventDetailTemplate]="monthviewDefaultEventDetailTemplate"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    startHour="6"
    endHour="20"
    step="30"
    startingDayWeek="1"
  >
  </calendar>

  <ng-template
    #monthviewDefaultEventDetailTemplate
    let-showEventDetail="showEventDetail"
    let-selectedDate="selectedDate"
    let-noEventsLabel="noEventsLabel"
  >
    <ion-list
      no-padding
      color="transparent"
      class="event-detail-container"
      has-bouncing="false"
      *ngIf="showEventDetail"
      overflow-scroll="false"
    >
      <ion-item-group *ngFor="let event of selectedDate?.events">
        <ion-item
          button
          color="medium"
          lines="full"
          *ngIf="event.type === 'box'"
          (click)="onEventSelected(event)"
        >
          <ion-label>
            <ion-text>
              <h2>{{ event.title }}</h2>
            </ion-text>
            <p>Total de {{ event.desc | currency: 'BRL' }}</p>
          </ion-label>
        </ion-item>
        <!-- SALE -->
        <ion-item
          button
          color="light"
          lines="full"
          *ngIf="event.type === 'timeSale'"
          (click)="onEventSelected(event)"
        >
          <ion-label>
            <ion-text>
              <h2>{{ event.title }}</h2>
            </ion-text>
          </ion-label>
          <span slot="end">
            {{ event.desc | currency: 'BRL' }}
          </span>
        </ion-item>
      </ion-item-group>
      <ion-item color="transparent" lines="none" *ngIf="selectedDate?.events.length == 0">
        <ion-label color="danger" text-center>
          <h2>Nenhum resultado até o momento</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>
